
/* Reset */
*{
    font-family: 'Cera GR';
    min-height: 0;
    min-width: 0;
}
.lazy,.lazy-load,.bg-load {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
}
.overflow-hidden{
    overflow:hidden;
}
figure {
    margin: 0;
}
body{
    font-family: 'Cera GR';
}
a{
    text-decoration: none !important;
}
.italic{
    font-style: italic;
}
.text-uppercase{
    text-transform: uppercase;
}
.top-0{
    top:0;
}
.bottom-0{
    bottom:0;
}
.left-0{
    left:0;
}
.right-0{
    right:0;
}
.p-margin-10 p{
    margin-bottom:10px;
}
.p-margin-30 p{
    margin-bottom:30px;
}
.p-margin-10 p:nth-last-child(1),
.p-margin-30 p:nth-last-child(1){
    margin-bottom:0px;
}
.max-width-9999{
    max-width: 9999px !important;
}
.z-1{
    z-index: 1;
}
.z-9999{
    z-index: 9999;
}
.z-99999{
    z-index: 99999;
}
.rounded-100{
    border-radius:100%;
}
.pointer{
    cursor: pointer;
}
.transition-03,
.transition-03-after:after,
.transition-03-before:before{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* Heights */
.h-100,
.h-100.all *{
    height:100%;
}
.height-auto,
.height-auto.all *{
    height:auto !important;
}
.min-height-0{
    min-height: 0;
}
.flex-1{
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
}
/* Widths */
.w-100{
    width:100% !important
}

/* Font Family */
.cera,
.cera.all *{
    font-family: 'Cera GR' !important;
}
.tinos,
.tinos.all *{
    font-family: 'Tinos' !important;
}
/* Navigation  */

/* Breadcrumb */

/* Social Share */

/* Fancybox */
.gallery-btn{
    max-width:60px;
    height:60px;
    top:50px;
    border-radius: 60px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery-btn:hover{
    max-width:200px;
}
.gallery-btn .span-text{
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery-btn:hover .span-text{
    opacity: 1;
}
.gallery-left{
    left:-30px;
}
.gallery-right{
    right:-30px;
}
.gallery-middle-center{
    left:50%;
    top:50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.gallery-btn .icon-gallery,
.gallery-btn .icon-play{
    position:absolute;
    text-align:center;
    width:60px;
    height: 30px;
    font-size: 30px;
    top:50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery-btn .icon-play{
    width:60px;
    height: 16px;
    font-size: 16px;
}
.gallery-left .icon-gallery,
.gallery-middle-center .icon-gallery,
.gallery-middle-center .icon-play{
    left:0;
}
.gallery-right .icon-gallery{
    right:0;
}
.fancybox-bg {
    background: #1c2029;
}
.fancybox-is-open .fancybox-bg {
    opacity: 1;
}
.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button{
    opacity: 1;
    visibility: visible;
}
.fancybox-infobar {
    height: 80px;
    line-height: 80px;
    min-width: 80px;
    padding: 0 10px;
}
.fancybox-caption{
    background: none;
}
.fancybox-thumbs {
    background: #1c2029;
    top: 170px;
    bottom: 130px;
}
.fancybox-slide--image {
    padding: 80px 0 44px;
}
.fancybox-thumbs__list a{
    max-width: 100%;
    width: 160px;
    padding-top: 60%;
    opacity:.6;
    margin:0 0 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.fancybox-thumbs__list a:hover,
.fancybox-thumbs__list a.fancybox-thumbs-active{
    opacity: 1;
}
.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link{
    position: absolute;
    right: 33px;
    color:#fff;
    background: none;
}
.fancybox-button--close{
    top:10px;
}
.fancybox-button--thumbs{
    top: 170px;
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.fancybox-thumbs__list a::before{
    display: none;
}
.fancybox-navigation .fancybox-button{
    padding: 0;
    height:60px;
    top:calc(50% - 30px);
}
.fancybox-navigation .fancybox-button div{
    height: auto;
    padding:0;
}
/* Buttons */

/* Forms */
#mc-embedded-subscribe-form .input-group>.form-control-no {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
#mc-embedded-subscribe-form .form-control-no {
    display: block;
    width: 100%;
    height: 44px;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,.2);
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#mc-embedded-subscribe-form .form-control-no:focus {
    background-color: rgba(255,255,255,.3);
}
#mc-embedded-subscribe-form .form-control-no::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,.7);
}
#mc-embedded-subscribe-form .form-control-no::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,.7);
}
#mc-embedded-subscribe-form .form-control-no:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,.7);
}
#mc-embedded-subscribe-form .form-control-no:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,.7);
}