@import "variables";
$i: 0;
@while $i < $ar-max {
    .ar-#{$i} {
        padding-top: #{$i}%!important;
    }
    $i: $i+$ar-step;
}

@media only screen and (min-width: $breakpoint-sm) {
    $i: 0;
    @while $i < $ar-max {
        .ar-sm-#{$i} {
            padding-top: #{$i}%!important;
        }
        $i: $i+$ar-step;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    $i: 0;
    @while $i < $ar-max {
        .ar-md-#{$i} {
            padding-top: #{$i}%!important;
        }
        $i: $i+$ar-step;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    $i: 0;
    @while $i < $ar-max {
        .ar-lg-#{$i} {
            padding-top: #{$i}%!important;
        }
        $i: $i+$ar-step;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    $i: 0;
    @while $i < $ar-max {
        .ar-xl-#{$i} {
            padding-top: #{$i}%!important;
        }
        $i: $i+$ar-step;
    }
}

@media only screen and (min-width: $breakpoint-xxl) {
    $i: 0;
    @while $i < $ar-max {
        .ar-xxl-#{$i} {
            padding-top: #{$i}%!important;
        }
        $i: $i+$ar-step;
    }
}