@import "variables";
$i: 0;
@while $i < $margin_padding-max {
    .mt-#{$i} {
        margin-top: #{$i}px!important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px!important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px!important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px!important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px!important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px!important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px!important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px!important;
    }
    $i: $i+$margin_padding-step;
}

@media only screen and (min-width: $breakpoint-sm) {
    $i: 0;
    @while $i < $margin_padding-max {
        .mt-sm-#{$i} {
            margin-top: #{$i}px!important;
        }
        .mr-sm-#{$i} {
            margin-right: #{$i}px!important;
        }
        .mb-sm-#{$i} {
            margin-bottom: #{$i}px!important;
        }
        .ml-sm-#{$i} {
            margin-left: #{$i}px!important;
        }
        .pt-sm-#{$i} {
            padding-top: #{$i}px!important;
        }
        .pr-sm-#{$i} {
            padding-right: #{$i}px!important;
        }
        .pb-sm-#{$i} {
            padding-bottom: #{$i}px!important;
        }
        .pl-sm-#{$i} {
            padding-left: #{$i}px!important;
        }
        $i: $i+$margin_padding-step;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    $i: 0;
    @while $i < $margin_padding-max {
        .mt-md-#{$i} {
            margin-top: #{$i}px!important;
        }
        .mr-md-#{$i} {
            margin-right: #{$i}px!important;
        }
        .mb-md-#{$i} {
            margin-bottom: #{$i}px!important;
        }
        .ml-md-#{$i} {
            margin-left: #{$i}px!important;
        }
        .pt-md-#{$i} {
            padding-top: #{$i}px!important;
        }
        .pr-md-#{$i} {
            padding-right: #{$i}px!important;
        }
        .pb-md-#{$i} {
            padding-bottom: #{$i}px!important;
        }
        .pl-md-#{$i} {
            padding-left: #{$i}px!important;
        }
        $i: $i+$margin_padding-step;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    $i: 0;
    @while $i < $margin_padding-max {
        .mt-lg-#{$i} {
            margin-top: #{$i}px!important;
        }
        .mr-lg-#{$i} {
            margin-right: #{$i}px!important;
        }
        .mb-lg-#{$i} {
            margin-bottom: #{$i}px!important;
        }
        .ml-lg-#{$i} {
            margin-left: #{$i}px!important;
        }
        .pt-lg-#{$i} {
            padding-top: #{$i}px!important;
        }
        .pr-lg-#{$i} {
            padding-right: #{$i}px!important;
        }
        .pb-lg-#{$i} {
            padding-bottom: #{$i}px!important;
        }
        .pl-lg-#{$i} {
            padding-left: #{$i}px!important;
        }
        $i: $i+$margin_padding-step;
    }
}
@media only screen and (min-width: $breakpoint-xl) {
    $i: 0;
    @while $i < $margin_padding-max {
        .mt-xl-#{$i} {
            margin-top: #{$i}px!important;
        }
        .mr-xl-#{$i} {
            margin-right: #{$i}px!important;
        }
        .mb-xl-#{$i} {
            margin-bottom: #{$i}px!important;
        }
        .ml-xl-#{$i} {
            margin-left: #{$i}px!important;
        }
        .pt-xl-#{$i} {
            padding-top: #{$i}px!important;
        }
        .pr-xl-#{$i} {
            padding-right: #{$i}px!important;
        }
        .pb-xl-#{$i} {
            padding-bottom: #{$i}px!important;
        }
        .pl-xl-#{$i} {
            padding-left: #{$i}px!important;
        }
        $i: $i+$margin_padding-step;
    }
}
@media only screen and (min-width: $breakpoint-xxl) {
    $i: 0;
    @while $i < $margin_padding-max {
        .mt-xxl-#{$i} {
            margin-top: #{$i}px!important;
        }
        .mr-xxl-#{$i} {
            margin-right: #{$i}px!important;
        }
        .mb-xxl-#{$i} {
            margin-bottom: #{$i}px!important;
        }
        .ml-xxl-#{$i} {
            margin-left: #{$i}px!important;
        }
        .pt-xxl-#{$i} {
            padding-top: #{$i}px!important;
        }
        .pr-xxl-#{$i} {
            padding-right: #{$i}px!important;
        }
        .pb-xxl-#{$i} {
            padding-bottom: #{$i}px!important;
        }
        .pl-xxl-#{$i} {
            padding-left: #{$i}px!important;
        }
        $i: $i+$margin_padding-step;
    }
}