@import "variables";
.relative{
    position:relative !important;
}
.absolute{
    position:absolute !important;
}
.static{
    position:static !important;
}
.fixed{
    position:fixed !important;
}

@media only screen and (min-width: $breakpoint-sm) {
    .sm-relative{
        position:relative !important;
    }
    .sm-absolute{
        position:absolute !important;
    }
    .sm-static{
        position:static !important;
    }
    .sm-fixed{
        position:fixed !important;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .md-relative{
        position:relative !important;
    }
    .md-absolute{
        position:absolute !important;
    }
    .md-static{
        position:static !important;
    }
    .md-fixed{
        position:fixed !important;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .lg-relative{
        position:relative !important;
    }
    .lg-absolute{
        position:absolute !important;
    }
    .lg-static{
        position:static !important;
    }
    .lg-fixed{
        position:fixed !important;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    .xl-relative{
        position:relative !important;
    }
    .xl-absolute{
        position:absolute !important;
    }
    .xl-static{
        position:static !important;
    }
    .xl-fixed{
        position:fixed !important;
    }
}

@media only screen and (min-width: $breakpoint-xxl) {
    .xxl-relative{
        position:relative !important;
    }
    .xxl-absolute{
        position:absolute !important;
    }
    .xxl-static{
        position:static !important;
    }
    .xxl-fixed{
        position:fixed !important;
    }
}