// Aspect Ration addon(_aspect-ratio.scss)
$ar-step: 5;
$ar-max: 200+$ar-step;

// Margins and Paddings addon(_margin-padding.scss)
$margin_padding-step: 5;
$margin_padding-max: 200+$margin_padding-step;

// Breakpoints
$breakpoint-xs: 100px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1660px;
