// Background Colors
@mixin config-bg-colors($prefix, $colors...) {
    @each $i in $colors {
        .#{$prefix}#{nth($i, 1)},
        .#{$prefix}#{nth($i, 1)}.all * {
            background-color: nth($i, 2)!important;
        }
    }
}