// Colors
@mixin config-colors($prefix, $colors...) {
    @each $i in $colors {
        @if nth($i, 2) != false {
            .#{$prefix}#{nth($i, 1)},
            .#{$prefix}#{nth($i, 1)}.all * {
                color: nth($i, 2)!important;
            }
        }
    }
}