//Font Size
@mixin config-font-weight($prefix, $weight...) {
    @each $i in $weight {
        @if nth($i, 2) != false {
            @if nth($i, 1) == strong{
                #{$prefix}#{nth($i, 1)}{
                    font-weight: nth($i, 2)!important;
                }
            }@else {
                .#{$prefix}#{nth($i, 1)},
                .#{$prefix}#{nth($i, 1)}.all *,
                .#{$prefix}#{nth($i, 1)}.p.all * {
                    font-weight: nth($i, 2)!important;
                }
            }
        }
    }
}