//Font Size
@mixin config-text-size($prefix, $size...) {
    @each $i in $size {
        @if nth($i, 2) != false {
            #{$prefix}#{nth($i, 1)}{
                font-size: nth($i, 2);
            }
            .#{$prefix}#{nth($i, 1)},
            .#{$prefix}#{nth($i, 1)}.all * {
                font-size: nth($i, 2)!important;
            }
        }
    }
}

@mixin config-text-size-xl($prefix, $size...) {
    @media only screen and (max-width: 1659.98px) {
        @each $i in $size {
            @if nth($i, 2) != false {
                #{$prefix}#{nth($i, 1)}{
                    font-size: nth($i, 2);
                }
                .#{$prefix}#{nth($i, 1)},
                .#{$prefix}#{nth($i, 1)}.all * {
                    font-size: nth($i, 2)!important;
                }
            }
        }
    }
}

@mixin config-text-size-lg($prefix, $size...) {
    @media only screen and (max-width: 1199.98px) {
        @each $i in $size {
            @if nth($i, 2) != false {
                #{$prefix}#{nth($i, 1)}{
                    font-size: nth($i, 2);
                }
                .#{$prefix}#{nth($i, 1)},
                .#{$prefix}#{nth($i, 1)}.all * {
                    font-size: nth($i, 2)!important;
                }
            }
        }
    }
}

@mixin config-text-size-md($prefix, $size...) {
    @media only screen and (max-width: 991.98px) {
        @each $i in $size {
            @if nth($i, 2) != false {
                #{$prefix}#{nth($i, 1)}{
                    font-size: nth($i, 2);
                }
                .#{$prefix}#{nth($i, 1)},
                .#{$prefix}#{nth($i, 1)}.all * {
                    font-size: nth($i, 2)!important;
                }
            }
        }
    }
}

// koukou
@mixin config-text-size-xs($prefix, $size...) {
    @media only screen and (max-width: 767.98px) {
        @each $i in $size {
            @if nth($i, 2) != false {
                #{$prefix}#{nth($i, 1)}{
                    font-size: nth($i, 2);
                }
                .#{$prefix}#{nth($i, 1)},
                .#{$prefix}#{nth($i, 1)}.all * {
                    font-size: nth($i, 2)!important;
                }
            }
        }
    }
}