// Letter Spacing
@mixin config-letter-spacing($prefix, $letter...) {
    @each $i in $letter {
        @if nth($i, 2) != false {
            .#{$prefix}#{nth($i, 1)}{
                letter-spacing: nth($i, 2)!important;
            }
        }
    }
}