@mixin config-line-height($prefix, $lineHeight...) {
    @each $i in $lineHeight {
        @if nth($i, 2) != false {
            .#{$prefix}#{nth($i, 1)},
            .#{$prefix}#{nth($i, 1)}.all * {
                line-height: nth($i, 2)!important;
            }
        }
    }
}