// Letter Spacing
@mixin config-opacity($prefix, $opacity...) {
    @each $i in $opacity {
        @if nth($i, 2) != false {
            .#{$prefix}#{nth($i, 1)}{
                opacity: nth($i, 2)!important;
            }
        }
    }
}